/* GLOBAL STYLES */
html {
  background-color: #222222;
  color: #eeeeee;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 5% 10%;
  text-align: center;
}

h1, h2, h3 {
  color: #00adb5;
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

i {
  color: #00adb5;
}

i:hover {
  color: #eeeeee;
}

.left {
  float: left;
}

.right {
  float: right;
}
.pic {
  border-radius: 10px;
  height: 300px;
}

/* Flex */

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item {
  margin: auto;
width: 50%;
}

@media all and (max-width: 800px) {
.item {
  width: 100%;
}
}