/* GLOBAL STYLES */
html {
  color: #eeeeee;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3 {
  color: #00adb5;
  font-weight: 800;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
#gradient {
  background-image: radial-gradient(at center, #222222, #eee);
}
/* Flex */

.container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item {
  margin: 3%;
  flex-basis: auto;
  width: 35%;
}

.item-big {
  margin: auto;
  width: 100%;
}
/* Adds break for screen size */
@media all and (max-width: 800px) {
.item {
  width: 100%;
}
}
/* Scroll bar */
.header {
  background-color: #222222;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.progress {
  height: 5px;
  width: 100%;
}
#bar {
  background-color: #00adb5;
  border-radius: 2.5px;
  height: 5px;
  width: 0%;
}
/* header */
header {
  height: 25%;
  margin: 15% 5%;
}

hr {
  border: dotted 7.5px #00adb5;
  border-style: dotted none none;
  text-align: center;
  width: 25%;
}

/* main */
i {
  color: #00adb5;
}

i:hover {
  color: #eeeeee;
}

.pic {
  border-radius: 10px;
  height: 300px;
}

ul li {
  list-style: square;
  text-align: left;
}

ol li {
  list-style-type: decimal;
  text-align: center; 
}
.card {
  background-color: #111111;
  padding: 5%;
  border-radius: 20px;
}

/* button */
button {
  height: 50px;
  width: 75%;
  background-color: #00adb5;
  color: #eeeeee;
  border-style: none;
  border-radius: 10px;
  font-size: 2em;
}

button:hover {
  background-color: #eeeeee;
  color: #222222;
}
/* footer */
footer{
  margin: 5%;
  opacity: 50%;
}